Practices_RAG/.env
Practices_RAG/uv.lock
Practices_RAG/.python-version
S7/.env
S7/faiss_index/doc_index_cache.json
S7/faiss_index/index.bin
S7/faiss_index/metadata.json
S7/uv.lock
S7/__pycache__/*
server/__pycache__/*
server/.python-version
server/documents/*
server/faiss_index/*
